{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "value": "la-darkfactory-activity-advisor"
    },
    "location": {
      "value": "australiaeast"
    },
    "SharePointSiteUrl": {
      "value": "REPLACE_WITH_SP_SITE_URL"
    },
    "ActivityAdvisorApiKey": {
      "reference": {
        "keyVault": {
          "id": "/subscriptions/REPLACE_WITH_SUBSCRIPTION_ID/resourceGroups/rg-darkfactory/providers/Microsoft.KeyVault/vaults/kv-darkfactory"
        },
        "secretName": "ActivityAdvisorApiKey"
      }
    },
    "AgentEndpointUrl": {
      "value": "REPLACE_WITH_ACA_AGENT_URL"
    }
  }
}
